.Rectangle-1 {
  position: absolute;
width: 204px;
height: 146px;
left: 200px;
top: 222px;

background: #BCC3C9;
border: 3px solid #030216;
box-sizing: border-box;
}
.Rectangle-11 {
  position: absolute;
width: 204px;
height: 146px;
left: 409px;
top: 222px;

background: #BCC3C9;
border: 3px solid #030216;
box-sizing: border-box;
}
.Rectangle-12 {
  position: absolute;
width: 204px;
height: 146px;
left: 618px;
top: 222px;

background: #BCC3C9;
border: 3px solid #030216;
box-sizing: border-box;
}
.Rectangle-4 {
  position: absolute;
width: 204px;
height: 146px;
left: 827px;
top: 222px;

background: #BCC3C9;
border: 3px solid #030216;
box-sizing: border-box;
}
.Rectangle-13 {
  position: absolute;
width: 204px;
height: 146px;
left: 1036px;
top: 222px;

background: #BCC3C9;
border: 3px solid #030216;
box-sizing: border-box;
}
.Rectangle-14 {
  position: absolute;
width: 204px;
height: 146px;
left: 200px;
top: 532px;

background: #BCC3C9;
border: 3px solid #030216;
box-sizing: border-box;
}
.Rectangle-15 {
  position: absolute;
width: 204px;
height: 146px;
left: 409px;
top: 532px;

background: #BCC3C9;
border: 3px solid #030216;
box-sizing: border-box;
}
.Rectangle-16 {
  position: absolute;
width: 204px;
height: 146px;
left: 618px;
top: 532px;

background: #BCC3C9;
border: 3px solid #030216;
box-sizing: border-box;
}
.Rectangle-17 {
  position: absolute;
width: 204px;
height: 146px;
left: 827px;
top: 532px;

background: #BCC3C9;
border: 3px solid #030216;
box-sizing: border-box;
}
.Rectangle-18 {
  position: absolute;
width: 204px;
height: 146px;
left: 1036px;
top: 532px;

background: #BCC3C9;
border: 3px solid #030216;
box-sizing: border-box;
}
